@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}

.heading {
    width: 100%;
    height: 75px;

    background-color: #0f0377;
    display: grid;
    margin: auto;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

.heading h1 {
    color: #ffffff;
}

.maincontent {
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    margin-top: 75px;
    overflow: hidden;
    overflow-y: scroll;
}


.verticalnavi {
    width: 15%;
    height: 700px;
    background-color: #0f0377;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 75px;

}

.verticalnavi li a {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.verticalnavi li a:hover {
    color: rgb(0, 47, 175);
    font-size: 18px;
}

.mainbox {
    width: 85%;
    height: auto;
    margin: auto;
    margin-left: 15%;
    text-align: center;

    background-color: #ffffff;
    display: block;
    padding: 10px;
}

.applicationform {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #ffffff;

}

form {
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 50px;
    border: 3px solid rgb(7, 18, 134);
    border-radius: 15px;
   
}

.application-input {
    width: 80%;
    height: 70px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.application-input h3 {
    width: 250px;
    height: 40px;
    align-items: center;
   
    text-align: center;
    /* margin-left: 100px; */
    font-size: 20px;
    background-color: #ffffff;
}

.application-input p {
    width: auto;
    height: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    border: none;
    background-color: #ffffff;
    font-size: 20px;

    text-align: center;
}



img {
    width: 80%;
    height: 300px;
    margin-top: 10px;
    margin-left: 100px;
    border: 2px solid rgb(141, 138, 138);
background-size: cover;
}

.acceptrequestbutton {

    height: 50PX;
    margin-top: 40px;

}

.acceptrequestbutton a {
    height: 20px;
    width: 40px;
    background-color: #173662;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
}
.acceptrequestbutton a:hover {
   color:#173662;
   background-color: white;
   text-decoration: none;
   border: 1px solid blue;
}
